* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 90vh;
}
.menu li {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.board-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 90vh;
}
.info-container {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-turn {
  background-color: blue;
  color: white;
}
.board {
  width: 40vw;
  height: 40vw;
  max-width: 70vh;
  max-height: 70vh;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  margin: 30px;
}
.cell {
  background-color: orange;
}
.X {
  clip-path: polygon(7.5% 5%, 50% 47.5%, 95% 5%, 97.5% 7.5%, 52.5% 50%, 95% 95%, 92.5% 97.5%, 50% 52.5%, 7.5% 95%, 5% 92.5%, 47.5% 50%, 5% 7.5%);
}
.O {
  position: relative;
  clip-path: circle(50% at 50% 50%);
  background-color: orange;
}
.O::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(45% at 50% 50%);
  background-color: white;
}
.cell:hover {
  background-color: red;
}
